/* =================================
   COMPONENTS / SECTIONS
   ================================= */

.section-space {
	padding-top: 60px;
    padding-bottom: 60px;
}
.section-space-bottom {
    padding-bottom: 60px;
}
.section-space-top {
    padding-top: 60px;
}
.section-space-sm {
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-space-bottom-sm {
    padding-bottom: 30px;
}
.section-space-top-sm {
    padding-top: 30px;
}
.section-space-double {
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-space-bottom-double {
    padding-bottom: 120px;
}
.section-space-top-double {
    padding-top: 120px;
}