/* =================================
   COMPONENTS / SECTIONS
   ================================= */

section {

    h3 {
        text-align: left;
        font-weight: normal;
        font-size: remCalc(18);
    }
}

/***** HERO SECTION ****/

#hero {
    background: $highlight-colour;
    height: 510px;
    padding: 50px;
    position: relative;

    #hero-caption {
        font-size: remCalc(32);
        line-height: 1.5em;
        padding-bottom: 50px;
    }

    #panel-title {
        font-size: 24px;
        line-height: 25px;
    }

    #hero-image {
        width: 60%;
        position: absolute;
        bottom: 0;
        right: 50px;

        img {
            width: 100%;
        }
    }
}

/***** MEET ME SECTION ****/

#meetme {
    // background: linear-gradient(left top, $meetme-linear-start, $meetme-linear-end);
    // background: url("images/photo-rimpey.png");
    // background-size: cover;
    position: relative;

    .row {

        #wrapper-rimpey-banner {

            background: url("../images/photo-rimpey-banner.png");
            // background-repeat: no-repeat;
            // background-size: contain;
            background-size: cover;
            z-index: -2;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        // only displayed at small device mobile
        #profile-pic {
            display: inline-block;

            img {
                width: 100%;
                display: block;
            }
        }

        #meetme-blurb {
            padding: 50px;
            z-index: 1;
            position: relative;

            li {
                color: $traits-text;
                line-height: 2em; 
            }
        }
    } //end row

    #meetme-top-filter {
        background: linear-gradient(left, $meetme-linear-start, transparent);
        position: absolute;
        top: 0;
        left: 0;
        width: 70%;
        height: 100%;
        z-index: -1;
    }

    #meetme-top-down-filter {
        background: linear-gradient(top, $meetme-linear-start, $highlight-colour);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

} // end meetme section