/* =================================
   COMPONENTS / SECTIONS
   ================================= */

section {

    h3 {
        text-align: left;
        font-weight: normal;
        font-size: remCalc(18);
    }
}


/***** HERO ****/

#container-hero {
    background-color: $highlight-colour;

    .container {
        // hide iPhone image behind work panel
        bottom: -60px;

        #hero {
            background: $highlight-colour;
            // height: 510px;
            // left padding -15px as row in other panels enclosed in a row with margin left/right set to -15px
            padding: 50px 50px 50px 35px;
            position: relative;

            #hero-caption {
                font-size: remCalc(32);
                line-height: 1.5em;
                padding-bottom: 50px;
            }

            #panel-title {
                font-size: 24px;
                line-height: 25px;
            }

            #hero-image {
                width: 100%;
                // position: absolute;
                // bottom: 0;
                // right: 50px;
                text-align: right;
                margin-bottom: -5%;

                img {
                    width: 70%;
                    position: relative;
                    top: -180px;
                    margin-bottom: -180px;
                }
            }
        }
    }
}


/***** BLANK ROW ****/

// extends highlight colour to edge with project logo's pushed up into empty panel 
#container-empty {
    background-color: $highlight-colour;

    .container {
        background-color: $white;
        height: 210px;
    }
}


/***** MY WORK ****/

// extends colour to page edge
#container-work {
    background-color: $white;

    #mywork {

        // Note .order 1-9 is programatically assigned property of order: 1-9 in mixins

        background-color: $white;
        padding: 50px 35px 0px 35px;
        // move the content up into the blank line to achieve yellow background either side
        position: relative;
        top: -210px;
        margin-bottom: -210px;

        // Row containing Logo and Project summary
        .row {

            // setting for 'View More' bottom aligned
            .order-4, .order-5, .order-6 {
                display: flex;
            }

            // Work Logo
            .work-logo {
                padding-bottom: 70px;
                // highlight colour with opacity
                border-bottom: 2px solid rgba(248, 212, 34, 0.2);
                position: relative;

                img {
                    width: 100%;
                    display: block;
                }  

                // place the active and inactive logo's on top of each other
                .logo-active {
                    // position: absolute;
                    // top: 0;
                    // left: 0;
                    // z-index: 0;

                    // &.active-to-top {
                    //     z-index: 2;
                    // }
                    display: none;
                }

                // .logo-inactive {
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                //     z-index: 1;
                // }

                // on click 'View More' the line become bold 
                &.highlight-line {
                    border-bottom: 2px solid $highlight-colour;
                }  
            }

            // Work Project
            .work-project {
                padding-top: 20px;
                // setting for 'View More' bottom aligned
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: $nav-text;

                &.active-text {
                    color: $text-colour;
                }

                .toggle-read {
                    padding-bottom: 30px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            // Work Details
            // toggle section based on 'View More' of project
            .work-details {
                display: none;
                padding-bottom: 50px;

                // when added dynamically needs to be display flex upon clicking 'View More'
                &.display-flex {
                    display: flex;
                }

                .work-img {

                    img {
                        width: 100%;
                        display: block;
                        padding-bottom: 30px;
                    }
                }

                .work-summary {

                    li {
                        color: $list-item-text;
                        line-height: 2em; 
                    }

                    .link {
                        a {
                            text-decoration: none;

                            &:visited, &:hover, &:active {
                                color: $text-colour;
                            }
                        }
                    }
                }

                .proj-divide {
                    border-top: 2px solid $highlight-colour;
                    height: 40px;

                    .cross-close {
                        position: absolute;
                        display: block;
                        right: 0;
                        top: 10px;
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        opacity: 0.3;

                        &:hover {
                            opacity: 1;
                        }

                        &:before, &:after {
                            position: absolute;
                            //left: 15px; // ??
                            content: ' ';
                            height: 24px; // height of the line of the cross
                            width: 2px; // width of the line of the cross
                            left: 8px;
                            top: -3px;
                            background-color: #333;
                        }

                        &:before {
                            transform: rotate(45deg);
                        }
                        &:after {
                            transform: rotate(-45deg);
                        }
                    }
                }
            } // .work-details

        } // row
    } // #mywork  
} // #container-work 



/***** MY SKILLS ****/

// extends colour to page edge
#container-skills {
    background-color: $myskills-colour;

    #myskills {
        background-color: $myskills-colour;
        position: relative;

        .row {
            
            #iPhone {
                position: absolute;
                width: 75%;
                padding-left: 15%;
                padding-top: 50px;
                z-index: 2;

                img {
                    width: 100%;
                    display: block;
                }    
            }

            #myskills-blurb {
                padding: 50px 50px 50px 0;

                li {
                    color: $list-item-text;
                    line-height: 2em; 
                }
            } 
        }
        #iPhone-xs {
            position: absolute;
            width: 75%;
            z-index: 2;
            left: 50%;
            transform: translateX(-50%);
            margin-top: -70px;

            img {
                width: 100%;
                display: block;
            }    
        }
    }
}


/***** MEET ME ****/

/* The Meet Me Panel is made up of four layers 
   (1) #meetme-blurb z-index:2 Text on the top layer
   (2) #meetme-top-filter z-index:1 gradient under text and over photo img
   (3) #wrapper-rimpey-banner z-index:0 photo img
   (4) #container-meetme is the very bottom layer and extends colour to page edge - again a linear-gradient- a slight overlap visually

   At mobile size 
   (1) #profile-pic the photo img is swapped out for a smaller version
   (2) #meetme-top-down-filter the overlay filter has linear-gradient from the top rather than left at desktop size
*/

#container-meetme {
    // background: linear-gradient(to right, $meetme-linear-start, $highlight-colour);
    background: linear-gradient(to right, $meetme-linear-start 50%, $highlight-colour 50%);

    #meetme {
        position: relative;

        .row {
            #wrapper-rimpey-banner {

                background: url("../images/photo-rimpey-banner.png");
                background-size: cover;
                background-position: right top;
                z-index: 0;
                position: absolute;
                top: 0;
                left: 50px;
                width: calc(100% - 100px);
                height: 100%;
            }

            // only displayed at small device mobile
            #profile-pic {
                display: inline-block;

                img {
                    width: 100%;
                    display: block;
                }
            }

            #meetme-blurb {
                padding: 50px 50px 50px 50px;
                z-index: 2;
                position: relative;

                // h3 {
                //     padding-top: 50px;
                // }

                li {
                    color: $list-item-text;
                    line-height: 2em; 
                }
            }
        } //end row

        #meetme-top-filter {
            background: linear-gradient(to right, $meetme-linear-start 30%, transparent);
            position: absolute;
            top: 0;
            left: 0;
            width: 70%;
            height: 100%;
            z-index: 1;
        }

        #meetme-top-down-filter {
            background: linear-gradient(to bottom, $meetme-linear-start, $highlight-colour);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

    } // end meetme section
} // end container-meetme