/* =================================
   LAYOUT / FOOTER
   ================================= */

#footer-section {
    background: $dark-background;
    padding: 35px 0;
    color: $grey-highlight;;
    font-size: 12px;
    padding: 40px 0 35px;

    .sbm {
        text-align: right;
    }

    a {
        text-decoration: underline;
        padding-right: 95px;

        &:hover {
            text-decoration: none;
            color: $footer-text-hover;
        }
    }

    img {
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -22px;
    }
}

// footer {

//     background-color: $blue;
//     overflow: hidden;
//     padding-bottom: 1rem;

//     h1 {
//         font-size: remCalc(30); 
//         font-family: 'Roberto', sans-serif; 
//         padding-top: remCalc(20); 
//         text-align: left; 
//         color: $yellow; 
//     }

//     ul {
        
//         list-style: none;
//         padding-left: 0;
//         padding-top: remCalc(18);

//         li {
//             font-size: remCalc(18); 
//             font-family: 'Lato', sans-serif;
//             color: #fff;

//             // here styled as WordPress doesn't allow <br /> between lines in a list
//             &:nth-child(4) {
//                 padding-top: remCalc(20);
//             }

//             a, a:hover, a:focus {
//                 color: #fff;
//                 text-decoration: none;
//             } 
//         }
//     }

//     //***  fb icon styling in _social.scss

//    .abn {

//         p {
//             color: $yellow;
//             font-size: smaller;
//             margin-bottom: remCalc(35);
//         }
//     }
// }

// // *** Align 'F' facebook icon with ABN number

// /* Small. Above 34em (544px) */
// @media screen and (min-width: 34em) {

//     footer {

//         .row.business {
//             position: relative;
//         }

//         .abn {

//             position: absolute;
//             right: 0;
//             bottom: 0;

//             p {
//                 color: $yellow;
//                 font-size: smaller;
//                 margin-bottom: 0;
//             }
//         }
//     }
// }
