/* =================================
   LAYOUT / FOOTER
   ================================= */

    #container-footer {
        background-color: $highlight-colour;

        footer {
            background: $highlight-colour;

            #container-hello-msgbubble-social-media {

                background: linear-gradient(to right, $highlight-colour 70%, $social-overlay 30%);

                #vertical-align-hello-msgbubble {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h3 {
                        margin: 0;
                        padding-left: 50px;
                    }
                }

                #msgbubbles {
                    display: inline-block;
                    width: 45px;
                    height: 45px;
                    margin: 20px 50px;

                    img {
                        width: 100%;
                    }
                }

                #msgbubbles-rhs {
                    display: inline-block;
                    width: 45px;
                    height: 45px;
                    margin: 20px 10px;

                    img {
                        width: 100%;
                    }
                }
                .align-right {
                    text-align: right;
                }

                #wrapper-email-social-media {

                    position: relative;
                    background-color: $social-overlay;
                    z-index: 1;

                    // creates menu colour angle
                    &:after {
                        content: " ";
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        right: 0;
                        background-color: $social-overlay;
                        z-index: -1;
                        
                        transform-origin: top right;
                        transform: skew(-30deg, 0deg);
                    }

                    #email {
                        background-color: $social-overlay;
                        text-align: right;
                        padding-top: 25px;
                        padding-right: 50px;

                        a {
                            font-size: remCalc(22);
                            letter-spacing: 1.5px;
                            text-decoration: none;
                            color: $social-media;

                            &:hover {
                                cursor: pointer;
                                color: $nav-text;
                            }
                        }
                    } 

                    #social-media {
                        background-color: $social-overlay;
                        text-align: right;
                        padding-right: 50px;

                        a {
                            color: $social-media;
                            padding-right: 10px;

                            &:hover {
                                cursor: pointer;
                                color: $nav-text;
                            }

                            &:last-child() {
                                padding-right: 0;
                            }
                        }
                    }
                }
            } 
        }
    } // end container-footer


    // Mobile xs size displays footer at the bottom
    #container-social-media-bottom {

        // extend colour to page edge
        background-color: $social-overlay;

        #container-bottom {
            
            #social-bottom {
                display: block;
                width: 100%;
                background-color: $social-overlay;
                text-align: center;
                padding: 25px;
                // margin-top: 25px;

                #email-bottom {
                    background-color: $social-overlay;
                    padding-bottom: 20px;
                    font-size: larger;

                    a {
                        font-size: remCalc(22);
                        letter-spacing: 1.5px;
                        text-decoration: none;
                        color: $social-media;

                        &:hover {
                            cursor: pointer;
                            color: $nav-text;
                        }
                    }
                } 

                #social-media-bottom {
                    background-color: $social-overlay;

                    a {
                        color: $social-media;
                        padding-right: 10px;

                        &:hover {
                            cursor: pointer;
                            color: $nav-text;
                        }

                        &:last-child() {
                            padding-right: 0;
                        }
                    }
                }
            } // #footer-xs-bottom 
        }
    }