/* =================================
   LAYOUT / FORM
   ================================= */

form {

    margin-top: 25px;
    padding: 0 50px 50px 50px;

    .form-control {
        border: none;
        border-radius: 0;
    }

    label {
        margin-bottom: 15px;
        margin-top: 8px;
    }

    a {
        text-decoration: none;
        text-align: right;
        color: $text-colour;
        float: right;

        &:hover {
            cursor: pointer;
            color: $text-colour;  
        }
    }

    #input-name, #input-email {
        line-height: 38px;
    }

    textarea {
        resize: none; // removes the resize handle bottom right 
        overflow: hidden; // no scroll 
    }

    input:-webkit-autofill {
        box-shadow:0 0 0 50px white inset; /* Change auto text fill to own background color */
        -webkit-text-fill-color: $text-colour;
    }
}
