/* =================================
   BASE / COLOURS
   ================================= */

$text-colour: #363636;
// 54 54 54
$highlight-colour: #f8d422;
// 248 212 34
$nav-text: #818181;
// 129 129 129


$dark-background: #323232;
$social-background: #6d6e71;
$social-font: #c5c5c6;
$grey-highlight: #686869;
$footer-text-hover: #65645f;
$grey-lightest: #f9f9f9;
$white: #fff;
$black: #222;
$body-text: #262625;
$red-underline: #e61d25;
