/* =================================
   BASE / GLOBAL
   ================================= */

body {
	font-family: 'Questrial', sans-serif;
	line-height: 1;
	background-color: $white;
	color: $body-text;
    height: 100%;
}
h1, h2, h3, h4, h5, h6, .title-header {
    clear: both;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .8px;
    margin-bottom: 35px;
}

ol, ul {
	list-style: none;
}
p {
	font-size: 15px;
	line-height: 25px;
	font-weight: 400;
	margin-bottom: 30px;
}
