/* =================================
   UTILS / RESPONSIVE
   ================================= */


/***** NAVIGATION ****/

// Sidenav Push
// @media screen and (max-height: 450px) {
@media only screen and (max-width : 479px) {
  .sidenav {
      padding-top: 15px;
      
      a {
          font-size: 18px;
      }
    }
}

@media screen and (min-width: 992px) {
    #top-nav {
        display: inline-block;
    }
}


/***** MY SKILLS/MEET ME - SECTION ****/

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 

    #myskills {
        // background-color: $myskills-colour;
        // position: relative;

        .row {
            position: relative;

            #myskills-blurb {
                padding: 50px 50px 100px 50px;

                li {
                    color: $traits-text;
                    line-height: 2em; 
                }
            } 
            // image of iPhone at small mobile 
            #iPhone {
                position: absolute;
                width: 75%;
                padding-left: 15%;
                padding-top: 70%;
                z-index: 3;

                img {
                    width: 100%;
                    display: block;
                }    
            }
        }
    }

    // push text down for iPhone image to overlap background colour
    // between two sections MY SKILLS and MEET ME
    #container-meetme {

        #meetme {
            position: relative;

            .row {

                #meetme-blurb {
                    padding: 110% 50px 50px 50px;
                    z-index: 1;
                }

                #container-profile-pic-small {
                    background-color: $highlight-colour;
                }

            } //end row
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

    // push text down for iPhone image to overlap background colour
    // between two sections MY SKILLS and MEET ME
    #meetme {
        position: relative;

        .row {

            #meetme-blurb {
                padding: 100px 50px 50px 65px;
                z-index: 1;

            }
        } //end row
    }
}


// // *** Bootstrap 4 Media Queries **

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }



/*
*
* CSS FOR RESPONSIVESS
*
*/
@media only screen and (min-width : 1200px){

}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1240px) {

}
@media only screen and (max-width : 1100px) {

}
@media only screen and (max-width : 1023px) {

}
/* IPAD PORTRAIT */
@media only screen and (max-width : 1023px) and (min-width : 768px) {

}

/* IMALLER THAN IPAD PORTRAIT*/
@media only screen and (max-width : 767px) {

}

/* IPHONE 5 LAND*/
@media only screen and (max-width : 568px) {

}

/* SMALLER THAN IPHONE 5 LAND */
@media only screen and (max-width : 567px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
